#games .heading {
  background: linear-gradient(
      134deg,
      #6a35ee 0%,
      #9930ef 15.28%,
      #5737ee 53.18%,
      #795ceb 100%
    ),
    #15bffd;
  font-style: normal;
  font-weight: 800;
  line-height: 122%;
}

.game-card-container {
  display: flex;
  justify-content: center;
}

.game-card {
  width: 300px;
  text-align: center;
  margin: 10px;
}
