/* Carousel */

.App {
  width: 100%;
  height: 100vh;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 900px;
  height: 725px;
  object-fit: contain;
  cursor: pointer;
  z-index: 0;
  opacity: 0;

  transition: 500ms;
}

.card--active {
  opacity: 1;
  transform: scale(1);
  z-index: 99;
}

.card--left {
  transform: translateX(-125%) scale(0.8);
  transition: 500ms;
  opacity: 0.3;
}

.card--right {
  transform: translateX(125%) scale(0.8);
  transition: 500ms;
  opacity: 0.3;
}

@media (min-width: 300px) and (max-width: 1024px) {
  .App {
    height: 20vh;
  }
  .card {
    width: 256px;
    height: 170px;
  }
}

/* Games */

#games .heading {
  background: linear-gradient(
      134deg,
      #6a35ee 0%,
      #9930ef 15.28%,
      #5737ee 53.18%,
      #795ceb 100%
    ),
    #15bffd;
  font-style: normal;
  font-weight: 800;
  line-height: 122%;
}

.game-card-container {
  display: flex;
  justify-content: center;
}

.game-card {
  width: 300px;
  text-align: center;
  margin: 10px;
}

/* Certificate */

#certificate {
  background-image: url("/images/Rectangle 10.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  display: grid;
  justify-items: center;
}

.certificate-card {
  border: 2px solid;
  border-image: linear-gradient(
    to right,
    #e859ff 79%,
    #5d63fe 100%,
    #ff5959 0%
  );
  border-image-slice: 1;
  width: 425.33px;
  height: 372.33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.certificate-card img {
  width: 170.67px;
  height: 170.67px;
}

.certificate-card h1 {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}

.certificate-card p {
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
}

@media (min-width: 300px) and (max-width: 1024px) {
  .certificate-card {
    width: 174px;
    height: 180px;
  }
  .certificate-card img {
    width: 48px;
    height: 48px;
  }
  .certificate-card h1 {
    font-size: 14px;
  }
  .certificate-card p {
    font-size: 10px;
  }
}

/* Business */

.bg-grad {
  background-image: url("/images/bg.png");
  height: 680px;
}

/* Contact */

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 50%;
  padding: 20px;
}

.image {
  width: 100%;
}

.form-container {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form-container p {
  font-size: 14px;
  margin-bottom: 5px;
}

.form-container input {
  width: 674px;
  height: 52px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
}

.form-container textarea {
  width: 674px;
  height: 108px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
}

.form-container button {
  width: 667px;
  height: 63px;
  padding: 10px 20px;
  background-color: #5d63fe;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #3d43f5;
}

@media (min-width: 300px) and (max-width: 1024px) {
  .container {
    max-width: none;
  }
  .title {
    font-size: 32px;
  }
  .flex-container {
    flex-direction: column;
  }
  .form-container {
    width: 100%;
  }
  .form-container input {
    width: 358px;
    height: 48px;
  }
  .form-container textarea {
    width: 358px;
  }
  .form-container button {
    width: 358px;
    height: 48px;
  }
}
